<div class="container-no-padding">
    <div class="row-footer">
            <div class="col-footer-2">
                <ul class="list-unstyled list-footer">
                    <li><a href="/decouvrir/"><i class="fa fa-book"></i> Découvrir</a><li>
                    <li><a href="/decouvrir/histoire/">Histoire</a></li>
                    <li><a href="/decouvrir/guides/">Guides de documentation</a></li>
                    <li><a href="/decouvrir/articulation_autre_nom_fr/">Nomenclatures françaises</a></li>
                    <li><a href="/decouvrir/articulation_autre_nom_etrangere/">Nomenclatures étrangères</a></li>
                </ul>
            </div>
            <div class="col-footer-2">
                <ul class="list-unstyled list-footer">
                    <li><a href="/naviguer"><i class="fa fa-paper-plane"></i> Naviguer</a><li>
                    <li><a href="/naviguer/PCS">La PCS</a></li>
                    <li><a href="/naviguer/classes_emploi">Classes et sous-classes d'emploi</a></li>
                    <li><a href="/naviguer/groupes_menages">Groupes et sous-groupes de ménages</a></li>
                    <li><a href="/naviguer/rubriques_ad_hoc">Rubriques ad-hoc de professions</a></li>
                </ul>
            </div>
            <div class="col-footer-2">
                <ul class="list-unstyled list-footer">
                    <li><a href="/decrire"><i class="fa fa-bar-chart"></i> Décrire</a><li>
                    <li><a href="/decrire/portraits/">Portraits de groupes</a></li>
                    <li><a href="/decrire/societe/">La société en quelques thèmes</a></li>
                    <li><a href="/decrire/outils_pedagogiques/">Outils pédagogiques</a></li>
                    <li><a href="/decrire/statistiques/">Statistiques en ligne</a></li>
                    <li><a href="/decrire/micro-donnees/">Obtention de micro-données</a></li>
                </ul>
            </div>
            <div class="col-footer-2">
                <ul class="list-unstyled list-footer">
                    <li><a href="/collecter"><i class="fa fa-cogs"></i> Coder</a><li>
                    <li><a href="/collecter/instruments_collecte/">Instruments de collecte</a></li>
                    <li><a href="/collecter/outils_codification/">Outils de codification</a></li>
                    <li><a href="/collecter/agregats_complementaires/">Agrégats complémentaires</a></li>
                    <li><a href="/collecter/creation_rubrique_ad_hoc/">Rubriques ad-hoc de profession</a></li>
                    <li><a href="/collecter/versions_anterieurs_autres/">Versions antérieures ou autres nomenclatures</a></li>
                </ul>
            </div>
            <div class="col-footer-1">
                <ul class="list-unstyled list-footer">
                    <li><a href="/apropos"><i class="fa fa-info"></i> Informations pratiques</a><li>
                    <li><a href="/apropos">Qui sommes-nous ?</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Lettre d'information</a></li>
                    <li><a href="#">Gouvernance du site</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
