<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container-main">
    <div class="container">

      <div class="header">
        {% include header.html %}
      </div>

      <div class="wrapper container-no-padding">
        <section>
        <div class="container">
        <br>
        <div class="row">
          <br>
          {{ content }}
          <br>
          <hr>
        </div>
        </div>
        </section>
      </div>

      <div class="footer">
        {% include footer.html %}
      </div>

    </div>
  </div>

  </body>
</html>
